@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
    background-image: url(photo-1451187580459-43490279c0fa.jpg);
    background-size: 275%;
}

.intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 500px;
}

.intro__title{
    padding: 4rem 9rem 6rem 2rem;
    text-align: left;
    font-size: 1.50rem;
}

.intro__start{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-radius:50%;
    width: 35vw;
    height: 35vw;
    transition-duration: ease 5s;
    max-width: 500px;
}

.intro__links{
    padding: 5rem 5rem 5rem 0rem;
    text-align: left;
    
}

.intro__link{
    font-size: 3rem;
    font-weight:100;
}

.intro__link--bold {
    font-weight: 600;
}

.body{
    background-color: black;
}

.body__head--italic{
    color: yellow;
    font-style: italic;
    padding: 2rem 0rem 0rem 1rem;
    text-align: left;
    font-size-adjust: 1;
}

.body__head{
    padding: 0rem 2.5rem 0.5rem 2.5rem;
    font-size-adjust: ;
}

.body__main{
    padding: 0rem 2.5rem 0.5rem 2.5rem;
    font-weight: 200;
}

footer{
    text-align: center;
    padding: 3rem 0rem 3rem 0rem;
}
