@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
    background-image: url(image.jpg);
    background-size: 500%;
    background-position: top left;
    animation: moveIt 15s linear infinite;
    background-repeat: repeat;
}

@keyframes moveIt {
    from {background-position: top left;}
    to {background-position: bottom right;}
    from {background-position: bottom right;}
    to {background-position: top left;}
}


.intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 500px;
}

.intro__title{
    padding: 2rem 9rem 6rem 2rem;
    text-align: left;
    font-size: 1.50rem;
}

.intro__title--regular {
    font-weight: 200; 
}

.intro__title--bold {
    font-weight: 700; 
}

.intro__title h2{
    display: inline-flex;
}


.intro__start{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-radius:50%;
    width: 35vw;
    height: 35vw;
    max-width: 500px;
}


.intro__links{
    padding: 5rem 11rem 5rem 0rem;
    text-align: left;
    
}

.intro__link h3{
    font-size: 3rem;
    font-weight:300;
}

.intro__link--bold h2 {
    font-size: 3rem;
    font-weight: 700;
}

.body{
    background-color: black;
}

.body__head--italic{
    color: yellow;
    font-style: italic;
    padding: 4rem 2.5rem 0rem 2.5rem;
    text-align: left;
    font-size: 1.75rem;
    font-size-adjust: 0.40;
}

.body__head h2{
    padding: 1rem 2.5rem 0rem 2.5rem;
    font-size:2rem ;
}

.body__head h6{
    padding: 0rem 2.5rem 2rem 2.5rem;
    font-size:1rem ;
}

.body__main{
    padding: 0rem 2.5rem 0.5rem 2.5rem;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.25;
}

footer{
    text-align: center;
    padding: 3rem 0rem 3rem 0rem;
    background-color: black;
}
