@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter";
    background-image: url(photo-1451187580459-43490279c0fa.jpg);
    background-size: 200%;
}

.intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 500px;
}

.intro__title{
    padding: 4rem 9rem 6rem 2rem;
    text-align: left;
    font-size: 1.50rem;
}

.intro__start{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-radius:50%;
    width: 35vw;
    height: 35vw;
    transition-duration: ease 5s;
    max-width: 500px;
}

.intro__start:hover{
    background: #ffff;
    color: black;
}

.intro__links{
    padding: 5rem 8rem 0rem 0rem;
    text-align: left;
    
}

.intro__link--bold {
    font-weight: 600;
}

.intro__link{
    transition: all 1s;
    font-size: 2.75rem;
    font-weight:100;
}

.intro__link:hover{
    color: wheat;
    font-size-adjust: 0.5;
}
