body {
	background: url('backgrounds/tree-rev.png');
	background-size: contain;
}

.events__title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
}

.events__title h1 {
	color: var(--color-primary);
}

.events__title h1 span {
	color: var(--color-green);
}

.events__box {
	padding: 1rem 2rem;
	translate: 0 -5rem;
}

.event {
	border: 2px solid var(--color-primary);
	padding: 1rem;
	background: var(--color-green);
	margin-bottom: 1rem;
}

.event--main {
	background: var(--color-green-dark);
	color: white;
}

.event__top {
	padding-bottom: 2rem;
}

.event__top h1 {
	line-height: 1.25;
}

.event__top p {
	font-size: 0.7rem;
	padding-top: 0.2rem;
	color: #fdcb6e;
}

.event__bottom {
	font-size: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.event__bottom p {
	font-weight: bold;
	text-decoration: underline;
}


